.dashboard{
    background: radial-gradient(circle at top left, rgb(255, 50, 50), #800080);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#main-container{
    width: 60%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.player{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.player--active{
    background-color: #f48fb1;
    border-radius: 20px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.dice{
    width: 125px;
    height: 125px;
    display: flex;  
    justify-content: center;
    align-items: center;
    left:46%;
    top: 35%;
    border: #ffffff;
    padding: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: #ffffff;
}

.name{
    font-size: 50px;
    margin-top: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.score{
    font-size: 90px;
    top:15%;
    color: rgb(246, 0, 82);
}

.btn{
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--new{
    top:15%;
    left: 45%;
    width: 150px;
}

.btn--hold{
    top: 80%;
    left: 45%;
    width: 150px;
}

.btn--roll{
    top: 70%;
    left: 45%;
    width: 150px;
}

.current{
    font-size: 25px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    flex-direction: column;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ff004cb1;
}

.current-label{
    margin-top: 60px;
    font-size: 20px;
}

.current-score{
    font-size: 50px;
    color: #ffffff;
    margin-top: -30px    
}

.hidden{
    display: none;
}

.player--winner{
    background-color: #FCC201;
    color: black ;
}